{% load static %}
<div class="footer footer--three pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 footer-single-widget mb-md-50 mb-sm-50">
                <!--=======  footer navigation  =======-->

                <div class="footer-nav-container footer-nav-container--horizontal mb-20">
                    <nav>
                        <ul>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">STORE LOCATION</a></li>
                            <li><a href="#">CONTACT</a></li>
                            <li><a href="#">SUPPORT</a></li>
                            <li><a href="#">POLICY</a></li>
                            <li><a href="#">FAQS</a></li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of footer navigation  =======-->

                <!--=======  copyright text  =======-->

                <div class="footer__copyright-text">
                    <p>&copy; TechTrove IT Solutions | <span>+91 8921982096</span> | sajinprasad52@gmail.com</p>
                </div>

                <!--=======  End of copyright text  =======-->
            </div>
            <div class="col-lg-3 col-md-12 footer-single-widget text-left text-lg-right">

                <!--=======  social icons  =======-->

                <div class="social-icons--footer mb-20">
                    <ul>
                        <li><a href="http://www.twitter.com/" data-tippy="Twitter" data-tippy-inertia="true"
                                data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true"
                                data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true"
                                data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://www.youtube.com/" data-tippy="Youtube" data-tippy-inertia="true"
                                data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>

                <!--=======  End of social icons  =======-->

                <!--=======  payment icon  =======-->

                <div class="payment-icon">
                    <img src="{% static 'images/icons/pay.png' %}" class="img-fluid" alt="">
                </div>

                <!--=======  End of payment icon  =======-->
            </div>
        </div>
    </div>
</div>