{% load static %}
<!--=============================================
	=            Header without topbar         =
	=============================================-->

	<header class="header header-without-topbar header-sticky">

		<!--=======  header bottom  =======-->

		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">


				<!--=======  header bottom container  =======-->

				<div class="header-bottom-container">

					<!--=======  logo with off canvas  =======-->

					<div class="logo-with-offcanvas d-flex">



						<!--=======  logo   =======-->

						<div class="logo">
							<a href="index-2.html">
								<img src="{% static 'images/logo.png' %}" class="img-fluid" alt="">
							</a>
						</div>

						<!--=======  End of logo   =======-->
					</div>

					
					<!--=======  End of logo with off canvas  =======-->

					<!--=======  header bottom navigation  =======-->

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href=#>Explore</a>
										<ul class="sub-menu mega-menu mega-menu-column-5">
											<li>
												<a href="javascript:void(0)" class="mega-column-title">Category list</a>
												<ul id="category-list" class="mega-sub-menu category-list">
													{% for category in items %}
													<li><a href="{% url 'category_filter_shop' category.id %}">{{category.category_name}}</a>
														{% if category.cat_image %}
														<img src="{{ category.cat_image.url }}" class="img-fluid" alt="{{ category.category_name }}">
														{% else %}
															<!-- Provide a default image or placeholder image -->
															<h5>No image found for this category</h5>
														{% endif %}
													{% endfor %}
												</ul>
											</li>
											<li>
												<a href="javascript:void(0)" class="mega-column-title">Navigate</a>
												<ul class="mega-sub-menu">
													<li><a href="{% url 'userhome' %}">Home </a><img src="{% static 'images/home-preview/06.jpg' %}" class="img-fluid" alt=""></li>
													<li><a href="{% url 'shop_view' %}">Shop</a><img src="{% static 'images/home-preview/07.jpg' %}" class="img-fluid" alt=""></li>
													<li><a href="{% url 'cart' %}">Cart</a><img src="{% static 'images/home-preview/08.jpg' %}" class="img-fluid" alt=""></li>
													<li><a href="{% url 'user_profile' %}">Dashboard</a><img src="{% static 'images/home-preview/09.jpg' %}" class="img-fluid" alt=""></li>
													<li><a href="{% url 'wishlist' %}">Wishlist</a><img src="{% static 'images/home-preview/10.jpg' %}" class="img-fluid" alt=""></li>
												</ul>
											</li>

											<!-- <li><a href="javascript:void(0)" class="mega-column-title">Shop</a>
												<ul class="mega-sub-menu">
													<li><a href="index-furniture.html">Furniture </a><img src="{% static 'images/home-preview/06.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-essentials.html">Essentials</a><img src="{% static 'images/home-preview/07.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-lookbook.html">Lookbook</a><img src="{% static 'images/home-preview/08.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-wearables.html">Wearables</a><img src="{% static 'images/home-preview/09.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-accessories.html">Accessories</a><img
															src="{% static 'images/home-preview/10.jpg' %}" class="img-fluid" alt=""></li>
												</ul>
											</li>
											<li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
												<ul class="mega-sub-menu">
													<li><a href="index-shoppable.html">Shoppable</a><img src="{% static 'images/home-preview/11.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-fashion.html">Fashion</a><img src="{% static 'images/home-preview/13.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-perfumes.html">Perfumes</a><img src="{% static 'images/home-preview/14.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-cosmetics.html">Cosmetics</a><img src="{% static 'images/home-preview/15.jpg' %}"
															class="img-fluid" alt=""></li>
													<li><a href="index-decor.html">Home Decor</a><img src="{% static 'images/home-preview/16.png' %}"
															class="img-fluid" alt=""></li>
												</ul>
											</li> -->
											<!-- <li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
												<ul class="mega-sub-menu">
													<li><a href="index-creative.html">Creative</a><img src="{% static 'images/home-preview/17.png' %}"
															class="img-fluid" alt=""></li>
												</ul>
											</li> -->
											<!-- <li>
												<div class="menu-image">
													<img src="{% static 'images/menu-image/menu-element.png' %}" class="img-fluid" alt="">
												</div>
											</li> -->
										</ul>
										<style>
											.category-list {
												display: grid;
												grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
												grid-gap: 10px;
												list-style: none;
												padding: 0;
											}

											/* Define styles for the items in the category list */
											.category-list li {
												margin-bottom: -2px;
											}

											/* Define styles for the images */
											.category-list img {
												width: 100%;
												height: auto;
											}
										</style>
										<script>
											document.addEventListener('DOMContentLoaded', function() {
											var categoryList = document.getElementById('category-list');
											var categories = categoryList.children;
											var halfLength = Math.ceil(categories.length / 2);

											var firstColumn = document.createElement('ul');
											var secondColumn = document.createElement('ul');

											for (var i = 0; i < categories.length; i++) {
												if (i < halfLength) {
													firstColumn.appendChild(categories[i].cloneNode(true));
												} else {
													secondColumn.appendChild(categories[i].cloneNode(true));
												}
											}

											// Clear the original category list
											categoryList.innerHTML = '';

											// Append the new columns to the category list
											categoryList.appendChild(firstColumn);
											categoryList.appendChild(secondColumn);
										});
										</script>
									</li>
									<!-- <li class="menu-item-has-children"><a href="{% url 'shop_view' %}">Go To Shop</a></li> -->
								</ul>
							</nav>
						</div>
					</div>

					<!--=======  End of header bottom navigation  =======-->

					<!--=======  headeer right container  =======-->

					<div class="header-right-container">

						<!--=======  header right icons  =======-->

						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<!--=======  single-icon  =======-->

							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon">
									<i class="ion-ios-search-strong"></i>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon user-login">
								{% if user.is_authenticated %}
									<!-- Display user's name when logged in -->
									<p>
										Welcome,
										<a href="{% url 'user_profile' %}" id="user-name">{{ user.username }}</a>
										<span class="popup" id="profile-popup">Click to view profile</span>
									</p>
								{% else %}
									<!-- Display the "Signin" link when not logged in -->
									<li class="menu-item-has-children">
										<a href="{% url 'register' %}">Signin</a>
									</li>
								{% endif %}
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							{% if user.is_authenticated %}
								<div class="single-icon search">
									<!-- Add a link for user logout -->
									<form method="post" action="{% url 'logout' %}" enctype="multipart/form-data">
										{% csrf_token %}
										<button class="btn" type="submit">Logout</button>
									</form>
								</div>
							{% endif %}

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
									<i class="ion-android-favorite-outline"></i>
									<span class="count">{{wishlist_count}}</span>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									<span class="count">{{cart_count}}</span>
								</a>
							</div>
							<!--=======  End of single-icon  =======-->
						</div>
						<!--=======  End of header right icons  =======-->

					</div>

					<!--=======  End of headeer right container  =======-->


				</div>

				<!--=======  End of header bottom container  =======-->

				<!-- Mobile Navigation Start Here -->

				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li class=""><a href="#">Home</a>
								<ul class="dl-submenu">
									<li class=""> <a href="#">Categories</a>
										<ul class="dl-submenu">
											{% for category in items %}
												<li><a href="{% url 'category_filter_shop' category.id %}">{{category.category_name}}</a>
														
											{% endfor %}
										</ul>
									</li>
									

							<li><a href="#">Navigate</a>
								<ul class="dl-submenu">
									<li><a href="{% url 'userhome' %}">Home </a></li>
									<li><a href="{% url 'shop_view' %}">Shop</a></li>
									<li><a href="{% url 'cart' %}">Cart</a></li>
									<li><a href="{% url 'user_profile' %}">Dashboard</a></li>
									<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
																	
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<!-- Mobile Navigation End Here -->

			</div>
		</div>

		<script>
			// JavaScript to show the popup on hover
			const userName = document.getElementById('user-name');
			const profilePopup = document.getElementById('profile-popup');

			userName.addEventListener('mouseenter', () => {
				profilePopup.style.display = 'inline';
			});

			userName.addEventListener('mouseleave', () => {
				profilePopup.style.display = 'none';
			});
		</script>
		<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

		<style>
			/* CSS to style the popup */
			.popup {
				display: none;
				position: absolute;
				background-color: #fff;
				padding: 5px;
				border: 1px solid #ccc;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
				z-index: 1;
			}
		</style>

		<!--=======  End of header bottom  =======-->
	</header>

	<!--===== End of Header without topbar ======-->