<h2 class="mb-4">
    TechTrove
    <h3>Invoice</h3>
</h2>

<div class="row">
    <div class="col-md-6 customer-info-box">
        <h4 class="mb-3">Customer Information</h4>
        <p><strong>Name : </strong> {{ order.full_name }}</p>
        <p><strong>Order Number : </strong> {{ order.order_number }}</p>
        <p><strong>Email : </strong> {{ order.email }}</p>
        <p><strong>Phone : </strong> {{ order.phone }}</p>
        <p><strong>Email : </strong> {{ order.email }}</p>
        <p><strong>Order Status : </strong> {{ order.status }}</p>
        <p><strong>Payment Method : </strong> {{ order.payment.payment_method }}</p>
        <p><strong>Payment Status : </strong> {{ order.payment.status }}</p>
        <p><strong>Tax : </strong>  ₹{{ order.tax }}</p>
        <p><strong>Shipping Fee : </strong>  ₹{{ order.shipping_fee }}</p>
        {% if order.coupon_applied %}
        <p><strong>Coupon applied : </strong> {{ order.coupon_applied }}</p>
        <p><strong>Coupon discount : </strong>  ₹{{ order.coupon_discount }}</p>
        {% endif %}

        <p><strong>Offers</strong></p>
        {% for product in order_products %}
            {% if product.offer_title %}
            {% if product.offer_discount_type == 'percentage' %}
                <p><span>{{ product.offer_title }} for <i>{{product.product.product_name}}</i> - </span><span>  {{ product.offer_discount_value }}%</span></p>
            {% else %}
                <p><span>{{ product.offer_title }} for <i>{{product.product.product_name}}</i> - </span><span>  ₹{{ product.offer_discount_value }}</span></p>
            {% endif %}
            {% endif %}
        {% endfor %}

        <p><strong>Grand Total : </strong>  ₹{{ order.order_total }}</p>
    </div>

    <div class="col-md-6 shipping-address-box">
        <h4 class="mb-3">Shipping Address</h4>
        <div class="col-md-6">
          <address>
            <p>{{ order.billing_address|linebreaksbr|safe }}</p>
        </address>
        </div>
      </div>
</div>

<hr class="my-4">

<h4 class="mb-4">Ordered Products</h4>

<div class="ordered-products">
    {% for order_product in order_products %}
    <div class="card mb-3">
        <div class="card-body d-flex">
        <div class="product-details">
            <h5 class="card-title">{{ order_product.product.product_name }}</h5>
            <p class="card-text"><strong>Price : </strong> ₹{{ order_product.product.price }}</p>

            {% if order_product.offer_title %}
              {% if order_product.offer_discount_type == 'percentage' %}
              <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>{{ order_product.offer_discount_value }}%</span></p>
              {% else %}
              <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>₹{{ order_product.offer_discount_value }}</span></p>
              {% endif %}
            {% endif %}
            
            <p><strong>Quantity : </strong> {{ order_product.quantity }}</p>
        </div>
        <img src="{{ order_product.product.image_set.first.image.url }}" class="product-image" alt="">
    </div>
    {% endfor %}
</div>