{% extends 'home_base.html' %}

{% load static %}

{% block content %}

<style>
    h4,
  h5 {
    color: #000;  /* Set heading color to black */
  }

    body {
    color: #000;  /* Set text color to black */
  }

  .order-details-container {
    max-width: 800px;  /* Adjusted the max-width */
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .customer-info-box,
  .shipping-address-box {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .customer-info h4,
  .shipping-address h4 {
    margin-bottom: 10px;
  }

  .ordered-products {
    margin-top: 20px;
  }

  .card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }

  .card-body {
    padding: 15px;
  }

  .product-details {
    flex-grow: 1;  /* To allow the product details to take the available space */
  }

  .product-image {
    max-width: 90px;
    height: auto;
    border-radius: 5px;
    margin-left: auto;  /* Moved the image to the right end */
    display: block;  /* Ensures that the image is on a new line */
  }
</style>

<div class="container mt-5 order-details-container">
  <h2 class="mb-4 text-center">Order Details</h2>

  <div class="row">
    <div class="col-md-6 customer-info-box">
      <h4 class="mb-3">Customer Information</h4>
      <p><strong>Name : </strong> {{ order.first_name }} {{ order_product.order.last_name }}</p>
      <p><strong>Order Number : </strong> {{ order.order_number }}</p>
      <p><strong>Email : </strong> {{ order.email }}</p>
      <p><strong>Phone : </strong> {{ order.phone }}</p>
      <p><strong>Email : </strong> {{ order.email }}</p>
      <p><strong>Payment Method : </strong> {{ order.payment.payment_method }}</p>
      <p><strong>Tax : </strong>  ₹{{ order.tax }}</p>
      <p><strong>Shipping Fee : </strong>  ₹{{ order.shipping_fee }}</p>
      {% if order.coupon_applied %}
        <p><strong>Coupon applied : </strong> {{ order.coupon_applied }}</p>
        <p><strong>Coupon discount : </strong>  ₹{{ order.coupon_discount }}</p>
      {% endif %}

      {% if order.order_note %}
        <p><strong>Order Note : </strong> {{ order.order_note }}</p>
      {% endif %}

      <p><strong>Offers</strong>
        {% for product in order_products %}
          {% if product.offer_title %}
            {% if product.offer_discount_type == 'percentage' %}
              <p><span>{{ product.offer_title }} for <i>{{product.product_name}}</i> - </span><span>  {{ product.offer_discount_value }}%</span></p>
            {% else %}
              <p><span>{{ product.offer_title }} for <i>{{product.product_name}}</i>  </span><span>  ₹{{ product.offer_discount_value }}</span></p>
            {% endif %}
          {% endif %}
        {% endfor %}

      <p><strong>Grand Total : </strong>  ₹{{ order.order_total }}</p>
      <p><strong>Status : </strong> {{ order.status }}</p>
      <p><strong>Payment Status : </strong> {{ order.payment.status }}</p>


    </div>

    <div class="col-md-6 shipping-address-box">
      <h4 class="mb-3">Shipping Address</h4>
      <div class="col-md-6">
        <address>
          <p>{{ order.billing_address|linebreaksbr|safe }}</p>
        </address>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <h4 class="mb-4">Ordered Products</h4>

  <div class="ordered-products">
    {% for order_product in order_products %}
    <div class="card mb-3">
        <div class="card-body d-flex">
        <div class="product-details">
            <h5 class="card-title">{{ order_product.product_name }}</h5>
            <p class="card-text"><strong>Price : </strong> ₹{{ order_product.price }}</p>

            {% if order_product.offer_title %}
              {% if order_product.offer_discount_type == 'percentage' %}
              <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>{{ order_product.offer_discount_value }}%</span></p>
              {% else %}
              <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>₹{{ order_product.offer_discount_value }}</span></p>
              {% endif %}
            {% endif %}
            
            <p><strong>Quantity : </strong> {{ order_product.quantity }}</p>
        </div>
        {% if order_product.product_image %}
        <img src="{{ order_product.product_image.url }}" class="product-image" alt="">
        {% else %}
        <p>No image found</p>
        {% endif %}
    </div>
    {% endfor %}
  </div>

    <div>
      <form method="post" action="{% url 'cancel_order' order_id=order.order_id %}">
          {% csrf_token %}
          {% if order.status == 'Cancelled' %}
          <div class="text-center">
              <h5 class="text-danger">This order has been cancelled</h5>
              <p class="text-secondary"><strong><a href="{% url 'shop_view' %}">Let's shop more</a></strong></p>
          </div> 
          {% elif order.status == 'Pending' %}
          <div class="text-center">
            <p><strong><a href="{% url 'order_confirmation' order_id=order.order_id %}">Click here to go to confirmation the order</a></strong></p>
          </div>
          <div class="text-center">
            <button type="submit" class="lezada-button lezada-button--medium mt-30">Cancel Order</button>
          </div>
          {% elif order.status == 'Delivered' %}
          <div class="text-center">
            <p class="text-success"><strong>Thank you for shopping with us!</strong></p>
            <a class="text-danger btn btn-danger text-light" href="{% url 'generate_invoice_pdf' order_id=order.order_id %}"><i class="fa fa-file-pdf-o"></i> Download Invoice</a>
            <a class="btn btn-secondary" href="{% url 'shop_view' %}">Shop more</a>
          </div>    
          {% else %}
          <div class="text-center">
              <button type="submit" class="lezada-button lezada-button--medium mt-30">Cancel Order</button>
          </div>
          {% endif %}
      </form>
    </div>
</div>

{% endblock %}
