{% extends 'home_base.html' %}

{% load static %}

{% block content %}

<style>
    h4,
  h5 {
    color: #000;  /* Set heading color to black */
  }

    body {
    color: #000;  /* Set text color to black */
  }

  .order-details-container {
    max-width: 800px;  /* Adjusted the max-width */
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .customer-info-box,
  .shipping-address-box {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .customer-info h4,
  .shipping-address h4 {
    margin-bottom: 10px;
  }

  .ordered-products {
    margin-top: 20px;
  }

  .card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }

  .card-body {
    padding: 15px;
  }

  .product-details {
    flex-grow: 1;  /* To allow the product details to take the available space */
  }

  .product-image {
    max-width: 90px;
    height: auto;
    border-radius: 5px;
    margin-left: auto;  /* Moved the image to the right end */
    display: block;  /* Ensures that the image is on a new line */
  }

  .paypal-button {
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }

    .paypal-submit-btn {
        background-color: #ffc439;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.3s;
        width: 330px;
        height: 45px;
        
    }

    .paypal-card-btn {
        background-color: #080808;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.3s;
        width: 330px;
        height: 45px;
        margin-top: 10px;
    }

    .paypal-card-btn span {
      font-family: PayPalOpen-Regular, Helvetica, Arial, "Liberation Sans", sans-serif;
      text-transform: none;
      font-weight: 500;
      font-size: 16px;
      margin-top: -2px;
      line-height: 22px;
      color: #fff;
      margin-left: 3px;
      font-style: normal;
    }

    .paypal-submit-btn:hover {
        background-color: #f2a324;
    }

    .paypal-submit-btn img {
      width: 74px;
      height: 20px;
      margin-right: 10px;
    }

    .paypal-button-text {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      font-size: 11px;
      text-align: center;
      font-family: PayPalOpen-Regular, Helvetica, Arial, "Liberation Sans", sans-serif;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      color: #7b8388;
      box-sizing: border-box;
      margin-top: 8px;
    }

    .paypal-button span img {
      height: 16px;
      width: 56px;
    }

</style>

<div class="d-flex my-5">
  <div class="container mt-5 order-details-container">
    <h2 class="mb-4 text-center">Order Details</h2>
    <div class="row">
      <div class="col-md-6 customer-info-box">
        <h4 class="mb-3">Customer Information</h4>
        <p><strong>Name : </strong> {{ order.first_name }} {{ order_product.order.last_name }}</p>
        <p><strong>Order Number : </strong> {{ order.order_number }}</p>
        <p><strong>Email : </strong> {{ order.email }}</p>
        <p><strong>Phone : </strong> {{ order.phone }}</p>
        <p><strong>Email : </strong> {{ order.email }}</p>
        <p><strong>Order Status : </strong> {{ order.status }}</p>
        <p><strong>Payment Method : </strong> {{ order.payment.payment_method }}</p>
        <p><strong>Payment Status : </strong> {{ order.payment.status }}</p>
        <p><strong>Tax : </strong>  ₹{{ order.tax }}</p>
        <p><strong>Shipping Fee : </strong>  ₹{{ order.shipping_fee }}</p>
        {% if order.coupon_applied %}
        <p><strong>Coupon applied : </strong> {{ order.coupon_applied }}</p>
        <p><strong>Coupon discount : </strong>  ₹{{ order.coupon_discount }}</p>
        {% endif %}

        <p><strong>Offers</strong>
          {% for product in order_products %}
            {% if product.offer_title %}
              {% if product.offer_discount_type == 'percentage' %}
                <p><span>{{ product.offer_title }} for <i>{{product.product.product_name}}</i> - </span><span>  {{ product.offer_discount_value }}%</span></p>
              {% else %}
                <p><span>{{ product.offer_title }} for <i>{{product.product.product_name}}</i>  </span><span>  ₹{{ product.offer_discount_value }}</span></p>
              {% endif %}
            {% endif %}
          {% endfor %}

        <p><strong>Grand Total : </strong>  ₹{{ order.order_total }}</p>
  
      </div>
  
      <div class="col-md-6 shipping-address-box">
        <h4 class="mb-3">Shipping Address</h4>
        <div class="col-md-6">
          <address>
            <p>{{ order.billing_address|linebreaksbr|safe }}</p>
          </address>
        </div>
      </div>
    </div>
  
    <hr class="my-4">
  
    <h4 class="mb-4">Ordered Products</h4>
  
      <div class="ordered-products">
          {% for order_product in order_products %}
          <div class="card mb-3">
              <div class="card-body d-flex">
              <div class="product-details">
                  <h5 class="card-title">{{ order_product.product.product_name }}</h5>
                  <p class="card-text"><strong>Price : </strong> ₹{{ order_product.product.price }}</p>

                  {% if order_product.offer_title %}
                    {% if order_product.offer_discount_type == 'percentage' %}
                    <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>{{ order_product.offer_discount_value }}%</span></p>
                    {% else %}
                    <p class="card-text text-secondary"><strong>Offer : </strong>{{ order_product.offer_title }} -  <span>₹{{ order_product.offer_discount_value }}</span></p>
                    {% endif %}
                  {% endif %}
                  
                  <p><strong>Quantity : </strong> {{ order_product.quantity }}</p>
              </div>
              <img src="{{ order_product.product.image_set.first.image.url }}" class="product-image" alt="">
          </div>
      </div>
  
      {% endfor %}
  
      {% if order.payment.payment_method == 'Cash on delivery' or order.payment.payment_method == 'Wallet' %}
      <form method="post" action="{% url 'order_confirmation' order_id=order.order_id %}">
          {% csrf_token %}
          
          <div class="text-center">
              <button type="submit" class="lezada-button lezada-button--medium mt-30">Confirm Order</button>
          </div>
      </form>
      {% endif %}
      
  </div>
</div>

{% if order.payment.payment_method == 'paypal' %}
  <div class="mx-5 my-5 h-25">
    <div class="checkout-payment-method">
      <div class="checkout-cart-total">

        <h4>Product <span>Total</span></h4>

        <ul>
          {% for order_product in order_products %}
          <li>
            {% if order_product.product.product_name|length > 30 %}
              {{ order_product.product.product_name|slice:":30" }}...
            {% else %}
              {{ order_product.product.product_name }}
            {% endif %}
            <i style="margin-right: 5px;">*({{ order_product.quantity }})</i><span style="margin-left: 5px;">₹{{order_product.product.price}}</span></li>

            {% if order_product.offer_title %}
              {% if order_product.offer_discount_type == 'percentage' %}
              <li>{{ order_product.offer_title }} Offer<span>  {{ order_product.offer_discount_value }}%</span></li>
              {% else %}
              <li>{{ order_product.offer_title }} Offer<span>  ₹{{ order_product.offer_discount_value }}</span></li>
              {% endif %}
            {% endif %}

          {% endfor %}
        </ul>


        <p>Sub Total <span>₹{{total}}</span></p>
        <p>Shipping Fee <span>₹{{order.shipping_fee}}</span></p>
        <p>GST <i>2%</i><span>₹{{order.tax}}</span></p>
        {% if order.coupon_applied %}
        <p>Coupon Name <span>{{order.coupon_applied}}</span></p>
        <p>Coupon Discount <span>₹{{order.coupon_discount}}</span></p> 
        {% endif %}       

        <h4>Grand Total <span>₹{{order.order_total}}</span></h4>

      </div>
      
      <form id="paypalForm" action="{% url 'create_payment' order.order_id %}" method="POST" target="paypalWindow">
        {% csrf_token %}
        <div class="paypal-button d-flex flex-column">
            <button type="button" class="paypal-submit-btn" onclick="openPayPalWindow()">
                <img src="{% static 'images/paypal/paypal.svg' %}" alt="" role="presentation" class="paypal-logo paypal-logo-paypal">
            </button>
            <button type="button" class="paypal-card-btn">
                <img src="{% static 'images/paypal/paypal_card.svg' %}" alt="" role="presentation" class="paypal-logo paypal-logo-paypal">
                <span class="paypal-button-text true" optional="" data-v-44bf4aee="">Debit or Credit Card</span>
            </button>
            <span class="paypal-button-text immediate" data-v-44bf4aee="">Powered by <img src="{% static 'images/paypal/paypal.svg' %}" alt="" role="presentation" class="paypal-text-logo paypal-logo-paypal"></span>
        </div>
      </form>
    

    </div>
  </div>
{% endif %}


<script>
  function openPayPalWindow() {
      // Open a new window with specific dimensions
      var newWindow = window.open('', 'paypalWindow', 'width=500,height=700');
      newWindow.focus();
      // Submit the form to the new window
      document.getElementById('paypalForm').target = 'paypalWindow';
      document.getElementById('paypalForm').submit();
  }
</script>

{% endblock %}
